<head>
    <link rel='stylesheet' href="/stylesheets/style.css">
    <link rel="stylesheet" href="/javascripts/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            margin: 50px auto;
            padding: 0px;
            margin-left: 10px;
        }
    </style>
</head>
<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align: center;color: black">Đăng Bài Lên Trang Chủ</h1>
        <table class="table" style="margin-top: 30px">
            <thead>
            <tr>
                <th class="info">Mã Sản Phẩm</th>
                <th class="info" width="150px">Tên Sản Phẩm</th>
                <th class="info">Giá Sản Phẩm</th>
                <th class="info">Loại Sản Phẩm</th>
                <th class="info" width="150px">Mô Tả</th>
                <th class="info" width="150px">Hình Ảnh</th>
                <th class="info">Thời Gian Đăng</th>
                <th class="info">Sản Phẩm Được Chọn</th>
            </tr>
            </thead>
            <% data1.forEach(function (item) { %>
                <tbody>
                <tr class="success">
                    <td><%= item.maSP %></td>
                    <td><%= item.tenSP %></td>
                    <td><%= item.giaSP %></td>
                    <td><%= item.loaiSP %></td>
                    <td width="150px"><%= item.moTa %></td>
                    <td><%= item.url %></td>
                    <td><%= item.tgDangBai %></td>
                    <td><input type="checkbox" style="margin-left: 50%" name="check" value="true" id="true"></td>
                </tr>
                </tbody>
            <% }) %>
        </table>
        <form action="/AcceptProductToHome" method="get">
            <button class="btn btn-primary" type="submit" style="margin-left: 50%">Chấp Nhận</button>
        </form>
    </div>
</div>
