<head>
    <link rel='stylesheet' href="/stylesheets/style.css">
    <link rel="stylesheet" href="/javascripts/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            margin: 50px auto;
            padding: 0px;
            margin-left: 10px;
        }
    </style>
</head>
<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align: center;color: black">Kiểm Duyệt Bài Đăng Của Khách Hàng</h1>
        <table class="table" style="margin-top: 30px" id="myTab">
            <thead>
            <tr>
                <th class="info">Người Đăng Bài</th>
                <th class="info">Mã Sản Phẩm</th>
                <th class="info">Tên Sản Phẩm</th>
                <th class="info">Giá Sản Phẩm</th>
                <th class="info">Loại Sản Phẩm</th>
                <th class="info" width="150px">Mô Tả</th>
                <th class="info">Hình Ảnh</th>
                <th class="info">Thời Gian Đăng</th>
                <th class="danger" width="150px">Kiểm Duyệt</th>
            </tr>
            </thead>
            <tbody>
            <% data1.forEach(function (item) { %>
                <tr class="success">
                    <td>Tèo</td>
                    <td><%= item.maSP %></td>
                    <td><%= item.tenSP %></td>
                    <td><%= item.giaSP %></td>
                    <td><%= item.loaiSP %></td>
                    <td width="150px"><%= item.moTa %></td>
                    <td><%= item.url %></td>
                    <td><%= item.tgDangBai %></td>
                    <td>
                        <form action="/Accept/<%= item.tenSP %>" method="get" id="form1">
                            <button class="btn btn-primary"  type="submit" style="float: left;width: 45%">Duyệt
                            </button>
                        </form>
                        <form action="/Cancel/<%= item.tenSP %>" method="get">
                            <button class="btn btn-danger" type="submit" style="float: right;width: 45%">Hủy
                            </button>
                        </form>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<script>
    function delRow() {
        document.getElementById("myTab").deleteRow(1);
    }
</script>
